{% extends 'EvalforGescompevalBundle:Skill:readcompetency.html.twig' %}

{% block title %}
	Gescompeval - {{ 'competency.read.title'|trans({}, 'EvalforGescompevalBundle') }}
{% endblock %}

{% block skill_title %}
	{{ 'competency.read.title'|trans({}, 'EvalforGescompevalBundle') }}
{% endblock %}

{% block form_tag %}
	<form action="{{ path('EGB_update_competency') }}" method="post" role="form">
{% endblock %}

{% block option0 %}
	<option value="0">
		{{ 'competency.select'|trans({}, 'EvalforGescompevalBundle') }}
    </option>
{% endblock %}

{% block competencetype %}
	<div class="form-group">
		<div class="row-fluid">
			{{ form_label(form.competencetype) }}
			<br />
			{{ form_errors(form.competencetype) }}
			{{ form_widget(form.competencetype) }}
		</div>
	</div>
{% endblock %}
