{% extends 'EvalforGescompevalBundle::layout.html.twig' %}

{# type must be defined #}
{% if type is defined %}

{% block title %}
	Gescompeval - {{ 'skill.create.title'|trans({}, 'EvalforGescompevalBundle') }}
				  {{ type_trans|trans({}, 'EvalforGescompevalBundle') }}
{% endblock %}

{% block contenido %}
	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title">
	    		{{ 'skill.create.title'|trans({}, 'EvalforGescompevalBundle') }}
	    		{{ type_trans|trans({}, 'EvalforGescompevalBundle') }}
	    	</h3>
	    	</div>
	   	<div class="panel-body">
	    	<form action="{{ path('EGB_create_skill', {'type': type}) }}" method="post" role="form">
			    <div class="form-group">
					{{ form_row(form.code) }}
				</div>
				<div class="form-group">
					{{ form_row(form.shortdescription) }}
				</div>
				<div class="form-group">
					{{ form_row(form.longdescription) }}
				</div>
				<div class="form-group">
					<div class="row-fluid">
						{{ form_label(form.institution) }}
						<br />
						{{ form_errors(form.institution) }}
						{{ form_widget(form.institution) }}
					</div>
				</div>
				{{ form_row(form._token) }}
			    <button type="submit" class="btn btn-default">
			    	{{ 'skill.create.title'|trans({}, 'EvalforGescompevalBundle') }}
			    </button>
			</form>
		</div>
	</div>
{% endblock %}
{% endif %}{#% if type is defined %#}