{% set active_page = 'competencetype' %}
{% extends 'EvalforGescompevalBundle::layout.html.twig' %}

{%  block title %}
  Gescompeval - {{ 'competencetype.delete.title'|trans({}, 'EvalforGescompevalBundle') }}
{% endblock %}

{% block contenido %}
	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title">
	    		{{ 'competencetype.delete.title'|trans({}, 'EvalforGescompevalBundle') }}
	    	</h3>
	    </div>
	   	<div class="panel-body">
	    	<form id="id_form" action="{{  path('EGB_delete_competencetype') }}"
	    		  method="post" role="form">
		    	<div class="row-fluid">
			   		<select id="select_competencetypes" class="selectpicker" data-style="btn-primary"
		    				data-live-search="true" data-width="100%"
		    				onChange="changeId('select_competencetypes','CompetenceTypeForm_id')">
		    			<option value="0">
		    				{{ 'select'|trans({}, 'EvalforGescompevalBundle') }}
		    				{{ 'competencetype.competencetype'|trans({}, 'EvalforGescompevalBundle') }}
		    			</option>
					    {% for competencetype in competencetypes_all %}
							<option style="white-space: pre-line;"
									value="{{ competencetype.id }}" title="{{ competencetype.type }}">
								{{ competencetype.type }}</option>
				    	{% endfor %}
					</select>
				</div>
				{{ form_row(form.id) }}
				{{ form_row(form._token) }}
			    <button type="submit" class="btn btn-default">
			    	{{ 'competencetype.delete.title'|trans({}, 'EvalforGescompevalBundle') }}
			    </button>
			</form>
		</div>
	</div>
{% endblock %}