{% extends 'EvalforGescompevalBundle::layout.html.twig' %}

{% block title %}
{% endblock %}

{% block contenido %}

	{% block ajax %}
	{% endblock %}

	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title">
				{% block skill_title %}
					{{ 'competencetype.list'|trans({}, 'EvalforGescompevalBundle') }}
				{% endblock %}
	    	</h3>
	    </div>
	</div>

	<div class="row">
		<div class="col-lg-6 lead">
			{{ totalItems }} {{ 'competencetype.competencetypes'|trans({}, 'EvalforGescompevalBundle') | lower }}
		</div>
  		<div class="col-lg-6">
  			<form action="{{ path('EGB_list_competencetype')}}" method="GET">
	   			<div class="input-group">
	   				<input type="search" class="form-control" placeholder="Search for..." name="search" value="{{search}}">
		      		<span class="input-group-btn">
		        		<button required class="btn btn-default" type="submit" >{{ 'skill.search'|trans({}, 'EvalforGescompevalBundle') }}</button>
		      		</span>
		    	</div><!-- /input-group -->
	    	</form>
  		</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->

	{% if pagesCount > 1 %}
		<div>
			<ul class="pagination">
				{% for i in 1..pagesCount %}
					{% if i == page %}
						<li class="active"><a href="{{ path('EGB_list_competencetype', {'page': i, 'order': order, 'search' : search}) }}">{{ i }}</a></li> 
					{% else %}
						<li><a href="{{ path('EGB_list_competencetype', {'page': i, 'order': order, 'search' : search}) }}">{{ i }}</a></li> 
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div id="table">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><a href="{{ path('EGB_list_competencetype', { 'page': page, 'order': 'type', 'search': search })}}">{{ 'list.type'|trans({}, 'EvalforGescompevalBundle') }}</a></th>
					<th><a href="{{ path('EGB_list_competencetype', { 'page': page, 'order': 'description', 'search': search })}}">{{ 'list.description'|trans({}, 'EvalforGescompevalBundle') }}</a></th>
					<th>{{ 'list.edit'|trans({}, 'EvalforGescompevalBundle') }}</th>
				</tr>
			</thead>
			<tbody>
			{% for skill in skills_all %}
				<tr>
					<td>{{ skill.type }}</td>
					<td>{{ skill.description }}</td>
					<td>
						<a href="{{ path('EGB_update_competencetype_id', { 'id': skill.id })}}" data-toggle="tooltip" title="{{ 'skill.update.title'|trans({}, 'EvalforGescompevalBundle') }}">
							<span class="glyphicon glyphicon-cog" aria-label="{{ 'skill.update.title'|trans({}, 'EvalforGescompevalBundle') }}"></span>
						</a>
						<a href="{{ path('EGB_delete_competencetype_id', { 'id': skill.id, 'order': order, 'search': search })}}" onclick="return confirm('{{ 'competencetype.confirm'|trans({}, 'EvalforGescompevalBundle') }}');" data-toggle="tooltip" title="{{ 'skill.delete.title'|trans({}, 'EvalforGescompevalBundle') }}">
							<span class="glyphicon glyphicon-remove" aria-label="{{ 'skill.delete.title'|trans({}, 'EvalforGescompevalBundle') }}"></span>
						</a>
					</td>								
				</tr>
			{% endfor %}
		
			</tbody>
		</table>
	</div>
	
	{% if pagesCount > 1 %}
		<div>
			<ul class="pagination">
				{% for i in 1..pagesCount %}
					{% if i == page %}
						<li class="active"><a href="{{ path('EGB_list_competencetype', {'page': i, 'order': order, 'search' : search}) }}">{{ i }}</a></li> 
					{% else %}
						<li><a href="{{ path('EGB_list_competencetype', {'page': i, 'order': order, 'search' : search}) }}">{{ i }}</a></li> 
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %} 